@font-face {
    font-family: Vazirmatn;
    src: url('../fonts/webfonts/Vazirmatn-Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
  font-family: Vazirmatn;
  src: url('../fonts/webfonts/Vazirmatn-ExtraLight.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Vazirmatn;
  src: url('../fonts/webfonts/Vazirmatn-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Vazirmatn;
  src: url('../fonts/webfonts/Vazirmatn-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Vazirmatn;
  src: url('../fonts/webfonts/Vazirmatn-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Vazirmatn;
  src: url('../fonts/webfonts/Vazirmatn-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Vazirmatn;
  src: url('../fonts/webfonts/Vazirmatn-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Vazirmatn;
  src: url('../fonts/webfonts/Vazirmatn-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Vazirmatn;
  src: url('../fonts/webfonts/Vazirmatn-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Vazirmatn';
  src: url('../fonts/webfonts/Vazirmatn[wght].woff2') format('woff2 supports variations'),
       url('../fonts/webfonts/Vazirmatn[wght].woff2') format('woff2-variations');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
.date-picker {
    font-family: Vazirmatn;
    font-size: .9em;
    width: 17em;
    padding: .2em .2em 0;
    border: 1px solid #cad5dd;
    color: #222222;
    position: absolute;
    z-index: 1;
    background-color: white;
    border-radius: 10px;
}

.date-picker-rtl {
    direction: rtl;
}

.date-picker-header {
    position: relative;
    padding: .2em 0;
    border: 1px solid #cad5dd;
    color: #eaf5f7;
    font-weight: bold;
}

.date-picker-prev,
.date-picker-next {
    margin: 3px;
}

.date-picker-title {
    text-align: center;
}

.date-picker table {
    width: 100%;
    font-size: .9em;
    border-collapse: collapse;
    margin: 0 0 .4em;
}

.date-picker th {
    padding: .7em .3em;
    text-align: center;
    font-weight: bold;
    border: 0;
}

.date-picker td {
    border: 0;
    padding: 1px;
}

.date-picker table {
    width: 100%;
    font-size: .9em;
    border-collapse: collapse;
    margin: 0 0 .4em;
}

.date-picker-box-default {
    font-weight: normal;
    color: #ffffff;
    outline: none;
    text-align: center;
    user-select: none;
    cursor: pointer;
}

.date-picker td span,
.date-picker td a {
    display: block;
    padding: .2em;
    text-decoration: none;
}